{% extends 'baseBack.html.twig' %}

{% block title %}Détails utilisateur{% endblock %}


{% block content %}
    <h1>Les informations concérnant cet utilisateur:</h1>
    <div class="page-wrapper" style="width: 919px; padding-left: 350px">
        <div class="content container-fluid pb-0">
            <div class="card">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb"></ol>
                    </nav>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row" style="justify-content: center;">
                            <div class="page-header">
                                <div class="row align-items-center">
                                    <div class="col-md-12 d-flex justify-content-end">
                                        <div class="text-right">
                                            <a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_user_index') }}">
                                                <i class="feather-corner-up-left "></i>
                                                Retour
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="card">
                            <div class="card-body">
                                <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" ="grid" aria-describedby="DataTables_Table_0_info">

                                <table class="table">
                                    <tbody>

                                    <tr>
                                        <th>Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>


                                    <tr>
                                        <th>Prénom</th>
                                        <td>{{ user.prenomUser }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ user.nomUser }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>{{ user.adresseUser }}</td>
                                    </tr>
                                    </tbody>
                                </table> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

